<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Brownlee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <!--Navigation Bar-->
    <div class="container"> 
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
            <h3 href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                    <span class="fs-4">WOW! Internet Inc.</span> 
            </h3> 
            <ul class="nav nav-pills"> 
                <li class="nav-item"><a href="#contact" class="nav-link active" aria-current="page">Contact</a></li> 
                <!-- <li class="nav-item"><a href="#" class="nav-link">Features</a></li> 
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> 
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li> 
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>  -->
            </ul>
        </header> 
    </div>
<!--Profile Section-->
    <div class="px-2 py-2 my-2 text-center"> 
        <img class="d-block mx-auto mb-4" src="/images/profile.jpeg" alt="" width="800" height="625" style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"> 
        <h1 class="display-5 fw-bold text-body-emphasis">Edward Brownlee</h1> 
        <div class="col-lg-6 mx-auto"> 
            <p class="lead mb-4" style="padding:0;">MDU Sales Representative | WOW! Internet Inc. | Alabama & Georgia Markets </p> 
            <p class="lead mb-4" style="padding:0;">Edward K. Brownlee III | <a href="mailto:edward.brownlee@wowinc.com">edward.brownlee@wowinc.com</a> |706-617-4291 </p>
            <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button> 
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> 
            </div>  -->
            <hr style="width:100%; ">
        </div> 
        
    </div>
    
<!--Form Section-->
    <div class="container col-xl-10 col-xxl-8 px-4 py-5" id="contact"> 
        <div class="row align-items-center g-lg-5 py-5"> 
            <div class="col-lg-7 text-center text-lg-start"> 
                <h2 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Hello Friends!</h2> 
                <p class="col-lg-10 fs-4">I began my career in 2011 at WOW in the sales and marketing department. I enjoy assisting my customers in getting the services they need in the most convenient way. </p> 
                <p class="col-lg-10 fs-4">I am here to make your experience a concise and remarkable one!  </p> 
                <h4>
                   What I can offer you as a WOW customer:  
                </h4>
                <ul style="list-style-type: none;">
                    <li>> Best Pricing available </li>
                    <li>> Free Installation
</li>
                    <li>> Military Specials </li>
                    <li>> Local Support from Edward </li>
                    <li>> Entry to Raffles (when available)
</li>
                </ul>
                
            </div> 
            <div class="col-md-10 mx-auto col-lg-5"> 
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary"> 
                    <div class="form-floating mb-3"> 
                        <input type="text" class="form-control" id="floatingInput" placeholder="Full Name"> 
                        <label for="floatingInput">Name</label> 
                    </div> 
                    <div class="form-floating mb-3"> 
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> 
                        <label for="floatingInput">Email address</label> 
                    </div> 
                    <div class="form-floating mb-3"> 
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Phone #"> 
                        <label for="floatingInput">Phone</label> 
                    </div> 
                    <div class="form-floating mb-3"> 
                        <input type="text" class="form-control" id="floatingPassword" placeholder="Address"> 
                        <label for="floatingPassword">Address</label> 
                    </div> 
                    <div class="form-floating mb-3"> 
                        <input type="datetime-local" class="form-control" id="floatingPassword" placeholder="Date/Time"> 
                        <label for="floatingPassword">Requested Appointment Date/Time</label> 
                    </div> 
                    
                    <a href="sms:+19125893385"><button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button></a> 
                    <hr class="my-4"> 
                    <small class="text-body-secondary">Thank you for choosing WOW Internet! Appointments are considered tentative until approved. </small> 
                </form> 
            </div> 
        </div> 
        <hr style="width:100%;">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>